# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.graphrag-env/
.graphrag-env*/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment variables and secrets
.env
*.env

# Databricks config
*.dbc

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
.pyre/
